<!DOCTYPE html>
<html>
  <head>
    <title>Flag</title>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="https://unpkg.com/98.css@0.1.4/build/98.css" />
  </head>

  <body style="background-color: #008b8b;">
    <div class="window" style="margin: 0 auto; width: 558px; position: relative; top: 100px; transform: scale(1.2)">
      <div class="title-bar">
        <div class="title-bar-text">Welcome admin</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <h4>UiTHack23{h3y_d0nt_p01s0n_my_pr07otyp3}</h4>
      </div>
    </div>
  </body>
